* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(22, 21, 21);
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: aquamarine;
}

.results-title {
	padding: 1em;
	text-align: center;
}

.show-results-movies {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.movie-results-holder {
	margin: 0.5em;
}

.trending-movies {
	display: flex;
}

.backdrop_path img {
	height: 200px;
	width: 100%;
	border-radius: 20px;
}

.movie-details,
.movie-details-suggestions {
	margin-left: 1em;
}

.suggestions {
	margin: 1em;
	background-color: rgb(34, 33, 33);
	padding: 1em;
	display: flex;
}

.suggestions img {
	border-radius: 20px;
	height: 125px;
}

.movie-details-poster {
	height: 400px;
}
